/* Filter.css */
.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: transparent;
    padding: 0 20px 20px;
    background-color: #fff !important;
margin-left: 10px;
  }
  
  .filter-item {
    margin-right: 10px;
    padding-bottom: 1rem;
  }
  
  /* Style for input box */
  .input-box {
    width: 240px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
  }
  
  /* Style for select box */
  .select-box {
    width: 240px;
    height: 36px;
  }
  
  /* Style for select container */
  .select-container {
    width: 200px;
  }
  
  /* Style for option */
  .select-option {
    font-size: 16px;
  }
  