@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
.card-body {
  font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
}
  .referral-btn {
    background: none;
    border: none;
    padding: 0;
  }
  
  .referral-content {
    display: flex;
    align-items: center;
    margin-left: 30%;
  }
  
  .referral-avatars {
    display: flex;
    gap: 5px;
  }
  
  .blurred-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    filter: blur(1px);
  }
  
  .unlock-text {
    margin-left: 10px;
    font-size: 16px;
  }
  
  
  .card-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .posted-info > p{
    padding: 4px 6px;
    display: inline;
    margin-right: 5px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230)
  }
  .card-content {
    padding: 20px;
  }
  
  .company-details {
    display: flex;
    align-items: center;
  }
  
  .company-logo img {
    width: calc(0.30);
    height: 50px;
    margin-right: 20px;
  }
  
  .info-container h3 {
    margin: 0;
  }
  
  .info-container h4,
  .info-container p {
    margin: 5px 0;
  }
  
  .card-salary {
    margin-top: 10px;
    text-align: left;
    line-height: 20px;
    Color: #4d596a;
    font-size: 14px;
    font-weight: 400;
  }
  
  .about-company p,
  .about-role p {
    margin-bottom: 5px;
  }
  
  .about-company p strong,
  .about-role p strong {
    color: #333;
  }
  
  .job-links {
    margin-top: 20px;
  }
  
  .minimum-exp {
  text-align: left;
  line-height: 0.2;
  font-weight: 500;
  }
  .minimum-exp>h1 {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    color: #8b8b8b;
  }
  .minimum-exp>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .buttons {
    display: flex;
    margin: 1px 15px 2px 15px;
    /* border-radius: 50px; */
    flex-direction: column;
    /* margin-top: 20px; */
  }
  
  .buttons button, .buttons>a {
    margin-bottom: 10px;
  }
  .info-container {
   text-align: left;
   line-height: 1
  }
  .info-container>h3 {
    line-height: 1;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
  }
  .info-container>h2 {
    font-size: 14px;
    line-height: 10;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    line-height: 21px;
  }
  
  .apply-btn, .button-link,
  .referral-btn {
    padding: 10px 20px;
    border: none;
    height: fit-content;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-btn, .button-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    background-color: rgb(85, 239, 196);
    color: #000000;
  }
  
  .referral-btn {
    background-color: #2c2ed4;
    color: #fff;
  }
  
  .referral-btn:hover {
    background-color: #0056b3;
  }
 